.loader {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: var(--color-text-primary);
}

.icon {
  width: 100%;
  height: 100%;
  animation: spin var(--duration-slow) linear infinite;
}

.size-sm {
  width: 16px;
  height: 16px;
}

.size-md {
  width: 24px;
  height: 24px;
}

.size-lg {
  width: 32px;
  height: 32px;
}

.variant-primary {
  color: var(--color-text-primary);
}

.variant-secondary {
  color: var(--color-text-secondary);
}

.variant-tertiary {
  color: var(--color-accent);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
